@media screen and (max-width: 1400px) {
    body{
      font-size: 23px;
    }
    li, p {
      font-size: 20px;
    }
    .card{
      width:330px;
    }
  }
  
  @media screen and (max-width: 1300px) {
    body{
      font-size: 21px;
    }
    li, p {
      font-size: 19px;
    }
    .card{
      width:310px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    body{
      font-size: 19px;
    }
    li, p {
      font-size: 17px;
    }
    .card{
      width:290px;
    }
  }
  @media screen and (max-width: 1100px) {
    body{
      font-size: 18px;
    }
    li, p {
      font-size: 16px;
    }
    .card{
      width:270px;
    }
  }
  @media screen and (max-width: 1000px) {
    body{
      font-size: 17px;
    }
    li, p {
      font-size: 15px;
    }
    .card{
      width:250px;
    }
  }